
<tr>
        <div class="{{@index}}">

                <td>{{Title}}</td>
                <br></br>
                <td>
                {{#each Option}}
                        {{> optionpartial}}
                {{/each}}
                </td>
                <br></br>

        </div>
</tr>