
<tr>
        <div class="poll" id="{{@index}}">

                <h3>{{Title}}</h3>
                        <td>
                                <div class="poll-btn">
                                        {{#each Option}}
                                                {{> optionpartial}}
                                        {{/each}}
                                </div>
                        </td>
                <br></br>

        </div>
</tr>